select {
    overflow-y: scroll; /* добавляем вертикальный скроллбар */
}

.status {
  height: auto;
}
/******************* карточка товара *************************/

.product-wrap {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: 250px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}

.product-image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.product-info {
    text-align: center;
}

.product-info label {
    font-size: 16px;
    font-weight: bold;
}

.product-info input {
    width: 50px;
    margin-top: 10px;
}

.product-info input[type="number"]::-webkit-inner-spin-button,
.product-info input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-info input[type="number"] {
    -moz-appearance: textfield;
}

/********************************************/

.order-info {
        position: sticky;
        top: 0;
        padding: 10px;
        z-index: 1;
        background-color: #5f879f;

    }

.order-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    }
total-price {
    margin 5%;
    }

/*********************детали кастомера***********************/

.customer-details {
  position: relative;
  margin-bottom: 20px;
}

.customer-details .customer-details-header {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  width: 30%;
}

.customer-details .arrow {
  float: right;
  transition: transform 0.3s;
}

.customer-details .customer-details-content {
  display: none;
  background-color: #ffffff;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 30%;
  z-index: 1;
}

.customer-details.open .arrow {
  transform: rotate(180deg);
}

.customer-details.open .customer-details-content {
  display: block;
}

.customer-details input[type="text"],
.customer-details input[type="tel"],
.customer-details input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.customer-details input[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.customer-info label,
        .customer-info input,
        .customer-info select {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }

/********************************************/

.product-quantity {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}


products-list {
  margin-bottom: 10px;
}

total-price {
  font-size: 24px;
  font-weight: bold;
}


body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: #5f879f;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      1%;
  margin-right:     1%;
  padding:          10px 10px 10px 10px;
}
a {
  text-decoration:  none; 
  font-weight:      600; 
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h2 {
  font-size:        150%;
}
table {
  margin-left:      20px;
  margin-right:     20px;
  caption-side:     bottom;
  border-collapse:  collapse;
}
td, th {
  padding:          5px;
  text-align:       left;
}
.copyright {
  font-size:        75%;
  font-style:       italic;
}
.slogan {
  font-size:        75%;
  font-style:       italic;
}
.confirmentry {
  font-weight:      600; 
}

/*** Tables ***/

table {
font-size:          1em;
background-color:   ##5f879f;
border:             1px solid #909090;
color:              #2a2a2a;
padding:            5px 5px 2px;
border-collapse:    collapse;
}

td, th {
border:thin dotted gray;
}

/*** Inputs ***/
input[type=text] {
  font-size:        115%;
  width:            30em;
}
create-button {
        flex: 1;
        text-align: right;
        font-size:        125%;
}

.navigate-button {
  display: inline-block;
  margin-left: 5px;
  font-size:        115%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.navigate-button:hover {
  background-color: #0056b3;
  text-decoration: none;
}


select {
  font-size:        125%;
}
