<!DOCTYPE html>
<html>
<head>
    <title>Создание заказа</title>
</head>
<body>
    <form method="post" action="/createorder">
        <label for="name">Имя:</label>
        <input type="text" name="name" id="name" required><br>

        <label for="surname">Фамилия:</label>
        <input type="text" name="surname" id="surname" required><br>

        <label for="phone">Телефон:</label>
        <input type="tel" name="phone" id="phone" required><br>

        <label for="address">Адрес:</label>
        <input type="text" name="address" id="address" required><br>

        <label for="shipping_date">Дата доставки:</label>
        <input type="date" name="shipping_date" id="shipping_date" required><br>




        {% if oil_price_list %}
    <label for="products">Продукты чекбокс:</label>
        {% for oil_name, volume, price in oil_price_list %}
        <input type="checkbox" id="product_{{ loop.index }}" name="select_products" value="{{ oil_name }}_{{ volume }}_{{ price }}">
        <label for="product_{{ loop.index }}">{{ oil_name }} {{ volume }}мл - {{ price }} руб/л</label><br>
        {% endfor %}
        {% endif %}



        <input type="submit" value="Создать заказ">
    </form>
</body>
</html>
