{% extends 'base.html' %}

{% block body %}


  <body>
    <h1>Список заказов</h1>
    <div class="to-create-button">
        <a href="/entry" class="navigate-button">Перейти к созданию заказа</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID заказа</th>
          <th>Имя клиента</th>
          <th>Фамилия клиента</th>
          <th>Телефон клиента</th>
          <th>Адрес клиента</th>
          <th>Дата создания</th>
          <th>Дата отгрузки</th>
          <th>Состав заказа</th>
          <th>Общая стоимость заказа</th>
          <th>Статус заказа</th>
        </tr>
      </thead>
      <tbody>
            {% for row in order %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[13] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[20] }}</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
  </body>



{% endblock %}
